<template>
  <div id="app">
    <!--<img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>-->
    <g-signin-button v-if="loggedin === false"
            :params="googleSignInParams"
            @success="onSignInSuccess"
            @error="onSignInError">
      Sign in with Google
    </g-signin-button>
    <a v-if="loggedin" href="#" @click.prevent="logout">Logout</a>
  </div>
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue'

export default {
  name: 'app',
    data() {
        return {
          //from https://developers.google.com/identity/sign-in/web/sign-in
          googleSignInParams: {
              client_id: '179160350050-ioenelbdjp0iulukjth9gk4ro98t7ksj.apps.googleusercontent.com'
              // client secret xYPzfzduR7kdOEiPvUzzQ20x
          },
          loggedin: false
      }
    },
    mounted() {
      if (sessionStorage.getItem('myUserEntity') !== null) {
          this.loggedin=true;
      }
    },
      methods: {
        onSignInSuccess: function(googleUser) {
            const profile = googleUser.getBasicProfile();
            alert('Hello '+profile.getName());
            let myUserEntity = {};
            myUserEntity.Id = profile.getId();
            myUserEntity.Name = profile.getName();

            sessionStorage.setItem('myUserEntity',JSON.stringify(myUserEntity));
            this.loggedin = true;
        },
        onSignInError: function() {
            alert('login error!');
        },
        logout: function() {
            sessionStorage.clear();
            this.loggedin = false;
        }
    }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
 .g-signin-button {
   /* This is where you control how the button looks. Be creative! */
   display: inline-block;
   padding: 4px 8px;
   border-radius: 3px;
   background-color: #3c82f7;
   color: #fff;
   box-shadow: 0 3px 0 #0f69ff;
 }
</style>
